# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\tjlat\Documents\RIT\Software Engineering\SWEN.601.01 - Software Construction\homework19-tjlatehjr\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
