# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\champ\Documents\RIT\Semester 1\SWEN.601.01 - Software Construction\MOOC\myProjects\mooc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
