/* INDEX.HTML STYLES  */

@media screen and (min-width: 992px) {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }
    html {
        font-size: 62.5%;
    }
    body {
        box-sizing: border-box;
        font-family: open sans, sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
    }
    nav {
        height: 13rem;
        width: 100%;
        border-bottom: .1rem solid #ebebeb;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    #nav-top {
        height: 30%;
        width: 100%;
        border-bottom: .1rem solid #ebebeb;
        background-color: #f7f7f7;
    }
    #contact-info {
        padding: 0;
    }
    #contact-info a {
        width: 50%;
        display: block;
        height: 4rem;
        padding: 1rem 0;
        text-align: center;
        color: rgba(0, 0, 0, .3);
        font-weight: 600;
        font-size: 1rem;
        border-right: .1rem solid #ebebeb;
        float: left
    }
    #contact-info a:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, .8);
        font-weight: 600;
    }
    #follow-us {
        box-sizing: border-box;
        padding: 0;
    }
    #follow-us span {
        display: block;
        height: 100%;
        width: 55%;
        padding: 1.2rem 1.5rem;
        color: rgba(0, 0, 0, .3);
        font-size: 1rem;
        text-align: right;
        box-sizing: border-box;
        text-transform: uppercase;
        float: left;
    }
    #follow-us a {
        display: block;
        height: 100%;
        width: 15%;
        padding: 1.2rem 1rem;
        color: rgba(0, 0, 0, .3);
        font-size: 1rem;
        border-left: .1rem solid #ebebeb;
        box-sizing: border-box;
        text-align: center;
        float: left;
    }
    #follow-us a:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, .8);
        font-weight: 600;
    }
    #nav-bottom {
        height: 70%;
        border: 0;
        padding: 1.95rem 0;
        background-color: #fff;
        box-sizing: border-box;
    }
    #brand-change {
        font-family: "Curlz MT";
        font-size: 3rem;
        background: linear-gradient(to right, red, blue);
        background-clip: border-box;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    #navbar-change {
        border: 0;
        margin: 0;
        background-color: #fff;
        padding: 0 4rem;
    }
    #nav-items-change {
        width: 50%;
        margin: 0 auto;
    }
    #btn-change-1 {
        margin: .75rem 0;
        margin-left: 10rem;
    }
    .btn-md {
        padding: 7.5px 13px !important;
        font-size: 15px !important;
        line-height: 1.3333333 !important;
        border-radius: 4.5px !important;
    }
    header {
        height: 40rem;
        width: 100%;
        background-image: linear-gradient(to right, #e6e6e63f, #e6e6e63f), url("../img/header.jpg");
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        background-position: top;
    }
    .text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .text-box h1 {
        display: block;
        font-size: 4rem;
        color: white;
        text-shadow: .5rem .4rem .4rem #000000;
        margin-bottom: 3rem;
        font-weight: 700;
        letter-spacing: .5rem;
    }
    .text-box a {
        display: inline-block;
        height: 4rem;
        background-color: #3762f0;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: 1.4rem;
        color: #fff;
        border: .1rem solid transparent;
        border-radius: .6rem;
        padding: 0 2rem;
        line-height: 4rem;
        text-align: center;
        transition-duration: 300ms;
    }
    .text-box a:hover {
        text-decoration: none;
        color: white;
        box-shadow: .4rem .4rem .8rem .4rem rgba(0, 0, 0, 0.336);
    }
    #welcome {
        padding: 8rem 0;
        margin: 0;
    }
    #site-info {
        padding-left: 0;
    }
    #site-info h3 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
        display: block;
        padding: 0;
        color: #11cbd7;
        font-family: "rubik", arial, sans-serif;
        font-weight: lighter;
        line-height: 1.2;
        text-align: left;
        box-sizing: border-box;
    }
    #site-info p {
        font-family: rubik, arial, sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2;
        color: gray;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    #site-img {
        padding: 3rem 0;
        padding-bottom: 0;
    }
    #site-img img {
        width: 100%;
        height: 330px;
    }
    #icon-up {
        height: 7rem;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        box-sizing: border-box;
    }
    #icon-up>a {
        font-size: 4rem;
        color: grey;
    }
    #icon-up>a:hover {
        color: grey;
    }
    #p-overview {
        box-sizing: border-box;
        padding: 2.5rem 0 0 0;
    }
    #p-div {
        padding: 2rem;
        box-sizing: border-box;
    }
    #p-div:hover {
        border: .1rem solid #e0e0e0;
        cursor: pointer;
    }
    #p-overview h3 {
        font-size: 1.5rem;
        font-weight: 500;
        color: #000;
        font-family: "rubik", arial, sans-serif;
        margin-bottom: .5rem;
        line-height: 1.2;
        box-sizing: border-box;
        margin-top: 0;
    }
    #p-overview p {
        font-size: 1.2rem;
    }
    .link-change {
        color: #11cbd7;
    }
    .link-change:hover {
        color: #0b8890;
        ;
        text-decoration: none;
    }
    #motto {
        padding: 8rem 0;
        background-color: white;
        margin: 0;
    }
    #motto-info {
        margin-bottom: 2.5rem;
        padding: 0;
    }
    #md-stats-change {
        padding: 0;
    }
    #motto-img img {
        width: 100%;
        height: 400px;
    }
    #motto-info h3 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
        display: block;
        padding: 0;
        color: #11cbd7;
        font-family: "rubik", arial, sans-serif;
        font-weight: lighter;
        line-height: 1.2;
        text-align: left;
        box-sizing: border-box;
        margin-top: 20px;
    }
    #motto-info p {
        font-family: rubik, arial, sans-serif;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 2;
        color: gray;
        margin: 0;
    }
    #motto-stats {
        padding: 0;
    }
    #motto-stats-icon {
        padding: 0 1rem;
    }
    #motto-stats-text {
        padding: 0 2.5rem;
    }
    #motto-stats-text div {
        padding: 0;
    }
    #motto-stats-icon a {
        text-align: center;
        font-size: 4rem;
        color: gray;
    }
    #motto-stats-text>div strong {
        font-size: 3rem;
        line-height: 1.5;
        color: #11cbd7;
        font-weight: lighter;
        box-sizing: border-box;
        text-align: left;
    }
    #motto-stats-text>div span {
        line-height: 1.5;
        font-family: rubik, arial, sans-serif;
        display: block;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: #ccc;
        box-sizing: border-box;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 300;
    }
    #contact-section {
        background: #11cad7;
        width: 100%;
        margin: 0;
        padding: 2rem 0;
        box-sizing: border-box;
    }
    #contact-section-text {
        padding-right: 3rem;
        padding-left: 0;
    }
    #contact-section-text h2 {
        font-size: 2rem;
        font-weight: 300;
        color: #fff;
        font-family: "rubik", arial, sans-serif;
        margin-bottom: .5rem;
        line-height: 1.2;
    }
    #contact-section-text p {
        font-family: rubik, arial, sans-serif;
        color: #ffffffb3;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 2;
    }
    #submit-space {
        padding: 4.25rem;
    }
    #contact-section-submit {
        height: 5rem;
        width: 100%;
        background-color: #fff;
        border-radius: .4rem;
    }
    #contact-section-submit input {
        height: 50px;
        border-radius: 4px;
        background: #fff;
        border: none;
        width: 75%;
        padding: .375rem 1.5rem;
        font-size: 1.5rem;
        font-family: "rubik", arial, sans-serif;
        line-height: 1.5;
        color: #495057;
        box-sizing: border-box;
    }
    #faculty {
        padding: 6rem 0;
        background-color: #f0f0f0;
        margin: 0;
    }
    #faculty-heading {
        padding: 0 10rem;
        text-align: center;
        margin-bottom: 4.5rem;
    }
    #faculty-heading h2 {
        font-family: "playfair display", serif;
        font-size: 30px;
        color: #222;
        font-weight: 700;
        margin-bottom: 12px;
        line-height: 1.2;
        margin-top: 0;
    }
    #faculty-name {
        margin-top: 20px;
    }
    #faculty-heading p {
        font-size: 13px;
        font-family: roboto, sans-serif;
        font-weight: 400;
        line-height: 18px;
        color: #777;
        margin-bottom: 0;
    }
    #faculty-img--text {
        padding: 0;
        text-align: center;
        box-sizing: border-box
    }
    #faculty-img--text div {
        padding: 0 1.25rem;
        margin: 0;
    }
    #faculty-img img {
        width: 100%;
        border-radius: 50%;
        vertical-align: middle;
        border-style: none;
    }
    #faculty-name h4 {
        margin-bottom: 5px;
        color: #222;
        font-family: playfair display, serif;
        font-weight: 700;
        font-size: 15px;
    }
    #faculty-name p {
        font-size: 13px;
        font-family: roboto, sans-serif;
        font-weight: 400;
        color: #777;
        margin-bottom: 0;
    }
    #xs-margin {
        height: 0;
        width: 0;
        visibility: hidden;
    }
    footer {
        height: 15rem;
        width: 100%;
        box-sizing: border-box;
    }
    #footer-change {
        margin: 0;
    }
    #f-nav-top {
        height: 70%;
        background-color: #252525;
        padding: 2.5rem 0;
        text-align: center;
        border-bottom: 1px solid #4c4c4c;
        box-sizing: inherit;
    }
    #copyright {
        height: 5.5rem;
        text-align: center;
    }
    #copyright span {
        font-size: 2.5rem;
        font-family: "Harrington";
        color: #fff;
        font-weight: 700;
        letter-spacing: .2rem;
        margin-bottom: 1.5rem;
    }
    #copyright p {
        color: rgba(255, 255, 255, .2);
        font-weight: 600;
        font-family: open sans, sans-serif;
    }
    #f-nav-buttom {
        height: 30%;
        width: 100%;
        background-color: #1f1f1f;
    }
    #f-contact-info {
        padding: 0;
        height: 100%;
        box-sizing: inherit;
    }
    #f-contact-info a {
        width: 50%;
        display: block;
        height: 100%;
        padding: 1.5rem 0;
        text-align: center;
        color: rgba(255, 255, 255, .2);
        border-right: 1px solid #4c4c4c;
        font-weight: 600;
        font-size: 1rem;
        float: left;
    }
    #f-contact-info a:hover {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }
    #f-follow-us {
        box-sizing: inherit;
        height: 100%;
        padding: 0;
    }
    #f-follow-us span {
        display: block;
        height: 100%;
        width: 55%;
        padding: 1.2rem 1.5rem;
        color: rgba(255, 255, 255, .2);
        font-size: 1.2rem;
        text-align: right;
        box-sizing: inherit;
        text-transform: uppercase;
        float: left;
    }
    #f-follow-us a {
        display: block;
        height: 100%;
        width: 15%;
        padding: 1.2rem 1rem;
        color: rgba(255, 255, 255, .2);
        border-left: 1px solid #4c4c4c;
        font-size: 1rem;
        box-sizing: inherit;
        text-align: center;
        float: left;
    }
    #f-follow-us a:hover {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }
}


/* PROGRAMS.HTML STYLES  */

@media screen and (min-width: 992px) {
    #program-row-change {
        padding: 7rem 0;
        padding-top: 5rem;
    }
    #program-header {
        margin-bottom: 5rem;
        padding-right: 3.8rem;
        padding-left: 4rem;
    }
    #program-header h3 {
        font-weight: 700;
        letter-spacing: -1px;
        color: #225688;
        font-size: 35px;
        font-family: 'Open sans', sans-serif;
        line-height: 1.1;
        margin-bottom: 20px;
    }
    #breadcrumb-change {
        padding: 12px 15px;
    }
    #program-header p {
        line-height: 1.6;
        margin: 15px 0;
        color: #515157;
        font-size: 16px;
    }
    #program-img-div {
        position: relative;
        padding: 0 4rem;
        box-sizing: border-box;
    }
    #program-img-div img:hover {
        box-shadow: .4rem .4rem .8rem .4rem rgba(0, 0, 0, 0.336);
    }
    #program-img-div span {
        position: absolute;
        font-weight: 700;
        font-size: 18px;
        background-color: #225688;
        padding: 10px 20px;
        margin-left: 4rem;
        color: white;
        bottom: 10%;
        left: 0;
    }
    #program-img-div img {
        width: 100%;
        max-height: 100%;
    }
    #margin {
        height: 6rem;
    }
}


/* -COURSES.HTML STYLES  */

@media screen and (min-width: 992px) {
    #course-list-change {
        padding-right: 3.8rem;
        padding-left: 4rem;
    }
    #courser-head h3 {
        font-size: 1.7rem;
        font-weight: 700;
        color: #777;
        font-family: "rubik", arial, sans-serif;
        margin: 0;
        display: inline;
    }
    #collapse-change {
        padding: 2rem 1rem;
        padding-bottom: 0;
    }
}


/* CONTACT.HTML STYLES  */

@media screen and (min-width: 992px) {
    #form-head {
        text-align: center;
    }
    #form-head h4 {
        text-align: center;
        font-family: 'Calibri';
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        color: #0000005e;
        letter-spacing: 1px;
    }
    #form-head h2 {
        text-align: center;
        font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 900;
        text-transform: capitalize;
        color: #696969;
        margin: 1rem 0;
        font-size: 35px;
    }
    #container-change {
        padding: 0;
    }
    #collapse-change {
        padding-left: 1rem;
        padding-top: 1rem;
    }
    #row-change {
        padding: 5rem 0;
    }
    #form-change {
        margin-top: 3rem;
    }
    #form-group-change {
        padding: 0;
        margin-bottom: 2.5rem;
    }
    #form-group-change:nth-child(1) {
        padding-right: 3rem;
    }
    #form-group-change:nth-child(2) {
        padding-left: 3rem;
    }
    #form-group-change label {
        font-family: 'Calibri';
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        color: #696969;
        float: left;
        margin-bottom: 5px;
    }
    #form-group-change input {
        height: 4.5rem;
        font-family: 'Calibri';
        font-size: 17px;
        color: grey;
        padding: 5px 15px;
        float: left;
    }
}


/* ABOUTUS.HTML STYLES  */

@media screen and (min-width: 992px) {
    #about-us-row-change {
        padding: 6rem 0;
    }
    #about-img {
        padding: 0;
    }
    #about-img img {
        width: 100%;
        max-height: 100%;
    }
    #about-details h3 {
        margin-top: 3.5rem;
        text-align: left;
        font-family: 'Calibri';
        font-weight: bold;
        text-transform: uppercase;
        color: #0000005e;
        font-size: 15px;
        letter-spacing: 1px;
    }
    #about-details h2 {
        text-align: left;
        font-family: 'Calibri';
        font-weight: bold;
        text-transform: capitalize;
        color: #696969;
        font-size: 35px;
        letter-spacing: 1px;
        margin-top: 0;
    }
    #about-details p {
        text-align: left;
        font-family: 'Calibri';
        color: grey;
        display: block;
        font-size: 15px;
    }
}